<section class="document-section">
  <div class="container">
    <div class="document-title">Условия пользовательского соглашения</div>
    <div class="doc-paragr">Пользовательское соглашение на сайте (или в приложении) регулирует правовые взаимоотношения
      между владельцем веб-ресурса, пользователями и третьими лицами. Оно очерчивает круг ответственности для поставщика
      товаров и услуг, а потому является юридическим документом. Содержание пользовательского соглашения должно
      соответствовать действующим нормам материального права.
    </div>
    <div class="doc-paragr">Посещая наши Веб-сайты и/или используя наши Продукты, вы соглашаетесь с условиями данной
      Политики конфиденциальности. Если вы не согласны с условиями данной Политики конфиденциальности, пожалуйста, не
      посещайте и/или не используйте наши Веб-сайты и Продукты.
    </div>
    <div class="doc-paragr-title">Какую информацию мы собираем о вас</div>
    <div class="doc-paragr">Личная информация – это информация, которая идентифицирует физическое лицо или относится к
      идентифицируемому физическому лицу. Мы собираем личную и другие виды информации<p>а) когда вы предоставляете ее
        нам,</p>
      <p>б) когда вы посещаете наши Веб-сайты,</p>
      <p>в) когда третьи лица предоставляют ее нам.</p>
    </div>
    <div class="doc-paragr-title">Информация, которую мы собираем автоматически</div>
    <div class="doc-paragr">Мы автоматически собираем информацию, когда вы перемещаетесь по нашим Веб-сайтам или
      просматриваете нашу рекламу. Собранная информация включает в себя уникальный идентификатор устройства, IP адрес
      или MAC адрес, данные о вашем местоположении, трафике, действиях на Веб-сайтах и другую аналогичную информацию. Мы
      также используем файлы cookie и другие технологии отслеживания
    </div>
    <div class="doc-paragr-title">Условия пользовательского соглашения</div>
    <div class="doc-paragr">Вы настоящим подтверждаете, что прочитали, поняли и полностью согласны соблюдать настоящее
      Соглашение и Политику конфиденциальности АйтиШторм.
    </div>
    <div class="doc-paragr">Вы настоящим подтверждаете, что с момента регистрации на Сайте и в течение времени
      пользования Услугами АйтиШторм, а также персонализированными сервисами Сайта, Вы являетесь Пользователем АйтиШторм
      вплоть до Вашего личного обращения в Службу клиентской поддержки Айтишторм об отказе от любых взаимоотношений с
      АйтиШторм.
    </div>
  </div>
</section>
