
<div class="order-container">
  <div class="order-div">
    <div class="order-block thanks-block">
      <div class="order-title thanks_title">
        <div>Спасибо за вашу заявку!</div>
      </div>
      <div class="thanks_message">Мы свяжемся с Вами при первой же возможности</div>
      <div class="thanks-action-block">
        <span class="button" (click)="to_close()">Окей</span>
      </div>
    </div>

    <div class="order-close-section">
      <div class="order-close-div" (click)="to_close()">
        <div class="close-line-first"></div>
        <div class="close-line-second"></div>
      </div>
    </div>
  </div>
</div>


