<div class="order-container">
  <div class="order-div">
    <div class="order-block thanks-block">
      <div class="order-title thanks_title">
        <div>Спасибо за вашу заявку!</div>
      </div>
      <div class="thanks_message">Мы свяжемся с Вами при первой же возможности</div>
      <div class="thanks-action-block">
        <button class="button thanks-button" (click)="to_main()">Окей</button>
      </div>
    </div>


    <div class="order-close-section" (click)="to_main()">
      <div class="order-close-div">
        <div class="close-line-first"></div>
        <div class="close-line-second"></div>
      </div>
    </div>
  </div>
</div>
