@use "../../../../assets/styles/variables" as var;
@use "../../../../assets/styles/fonts" as fonts;
@use "../../../../assets/styles/mixins" as mix;
@use "../../../../assets/styles/global" as global;

.action-block {
  margin-top: 40px;
  display: flex;
  gap: 15px;
  .action-item {
    display: flex;
    align-items: center;
    &.is-editable {
      cursor: pointer;
    }
    .action-item-count{
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      font-size: 14px;
      color: var.$menu-item-color;
      padding-right: 3px;
      &.selected {
        color: var.$item-active-color;
      }

    }
  }
}
