@use "../variables" as var;
@use "../mixins" as mix;


.auth-form {
  margin-top: 120px;
  margin-bottom: 120px;
  display: flex;

  .auth-form-items {
    width: 430px;
    margin-right: 245px;

    .auth-item-title {
      width: 430px;
      @include mix.head-lora-36;
      margin-bottom: 40px;
    }

    .auth-input {
      margin-bottom: 5px;
    }

  }

  .auth-form-image {
    width: 607px;
    height: 390px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .auth-checkbox {
    margin-top: 8px;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 130%;
    color: #071739;
    display: flex;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 40px;

    span {
      cursor: pointer;
      color: var.$item-active-color;
      text-decoration: underline;
    }
  }


  .auth-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-top: 10px;
    a {
      margin-left: 8px;
      text-decoration: none;
      color: var.$item-active-color;
    }
  }
}
