@use "../../../../assets/styles/variables" as var;
@use "../../../../assets/styles/fonts" as fonts;
@use "../../../../assets/styles/mixins" as mix;
@use "../../../../assets/styles/global" as global;

.review-block {
    width: 396px;
    height: 267px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid var.$item-active-color;

    .review-title {
      display: flex;
      height: 60px;
      align-items: center;
      margin-bottom: 15px;

      .review-avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: var.$default-shadow-color;
        background-size: contain;
        overflow: hidden;
      }

      .review-author {
        margin-left: 26px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 18px;
        color: var.$item-active-color;
      }
    }

    .review-text {
      @include mix.default-font400;
      line-height: 140%;
      color: var.$menu-item-color;
    }
}
