@use "../../../../assets/styles/variables" as var;
@use "../../../../assets/styles/fonts" as fonts;
@use "../../../../assets/styles/mixins" as mix;
@use "../../../../assets/styles/global" as global;

.reviews-slider {
  margin-bottom: 120px;
  .reviews-slider-container {
    position: relative;
    .slider-caption {
      margin-bottom: 30px;
      font-family: 'Lora', sans-serif;
      font-weight: 400;
      font-size: 38px;
      color: var.$item-active-color;
    }
    .review-carousel {
      width: 100%;

    }

    .reviews-items {
      width: 100%;
      display: flex;
      gap: 12px;
      justify-content: space-between;
      box-sizing: border-box;

      .review-item {
        width: 396px;
        box-sizing: border-box;
      }
    }
      .toprev-item {
        position: absolute;
        top: 50%;
        transform: translateX(-30px);
      }
      .tonext-item {
        position: absolute;
        top: 50%;
        right: -30px;
      }
    }
}
