@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/fonts";
@import "../../../../assets/styles/mixins";
@import "../../../../assets/styles/global";


.blog-section {
  @include page-bottom;
  .container {
    box-sizing: border-box;
    padding-right: 0;
    margin-right: 0;

    .blog-page-title {
      margin-top: 80px;
      font-family: 'Lora', sans-serif;
      font-weight: 400;
      font-size: 38px;
      color: $item-active-color;

    }

    .blog-articles{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: 80px;
      column-gap: 16px;
      padding-bottom: 60px;
      padding-right: 100px;
      margin-top: 40px;
      z-index: -2;
    }
    .paginator-section {
      display: flex;
      align-items: center;
      justify-content: center;
      @include page-bottom;
    }
  }
}
