@use "../../../assets/styles/mixins" as mix;
@use "../../../assets/styles/variables" as var;


.main {
  .main-component-container {

    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}

.test-section {
  margin-bottom: 32px;
  .container {
    display: flex;
    justify-content: space-around;
  }
}

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .main-component-container {
    width: var.$default-component-width;

  }
}
