@use "../../../../assets/styles/variables" as var;
@use "../../../../assets/styles/mixins" as mix;

.main-menu {
  display: flex;
  @include mix.default-font500;
  .font400 {
    @include mix.default-font400;
  }
  nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    li {
      margin-right: 30px;
      list-style: none;
      color: var.$menu-item-color;
      cursor: pointer;
      &:hover {
        color: blue;
      }
      &.active {
        color: var.$item-active-color;
      }

    }

  }
}
