@use "../../../../assets/styles/variables" as var;
@use "../../../../assets/styles/fonts" as fonts;
@use "../../../../assets/styles/mixins" as mix;
@use "../../../../assets/styles/global" as global;

.top-articles-section{
  @include mix.page-bottom;
 .top-articles-container {
   .top-articles-caption {
     margin-bottom: 40px;
     @include mix.head-lora-38;
   }
   .top-articles-items {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     gap: 8px;
   }
   .top-articles-toblog {
     width: 100%;
     display: flex;
     justify-content: end;
     div {
       margin-top: 80px;
       span {
         padding-right: 14px;
         font-family: 'Montserrat', sans-serif;
         font-weight: 500;
         font-size: 20px;
         color: var.$item-active-color;
       }
       svg {
         transform: translateY(2px);
       }
     }
   }
 }
}
