@use "../../../../assets/styles/variables" as var;
@use "../../../../assets/styles/mixins" as mix;

.footer {
  width: 100%;
  background-color: var.$active-background-color;
  display: flex;
  align-items: center;
  justify-content: center;

  .footer-container {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 1240px;

    .footer-top {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      a {
        padding-right: 40px;
        cursor: pointer;
      }
    }

    .footer-items {
      width: 916px;
      margin-top: 40px;
      display: flex;

      .footer-column {
        margin-right: 60px;

        &:last-child {
          margin-right: 0;
        }
      }

      .footer-address {
        width: 253px;
      }

      .footer-phone {
        width: 153px;
        .footer-item-button {
          margin-top: 10px;
        }
      }

      .footer-email {
        width: 127px;
      }

      .footer-column {
        .footer-item-title {
          font-weight: 500;
          color: var.$item-active-color;
          margin-bottom: 10px;
        }

        .footer-item-info {
          line-height: 130%;
          font-weight: 400;
          color: var.$menu-item-color;
          font-size: 16px;
        }
        .footer-item-link {
          cursor: pointer;
          &:hover {
            color: blue;
          }

        }
      }

      .footer-social {
        .footer-social-links {
          display: flex;
          justify-content: flex-start;

          .footer-social-svg {
            height: 24px;
            width: 24px;
            margin-right: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:last-child {
              margin-right: 0;
            }
            a {
              cursor: pointer;
            }
            svg {
              &:hover path {
                fill: blue;
              }
            }
          }
        }
      }
    }

    .footer-copyright {
      margin-bottom: 10px;
      img {
        cursor: pointer;
      }
    }
  }
}
