@use "../../../../assets/styles/variables" as var;
@use "../../../../assets/styles/fonts" as fonts;
@use "../../../../assets/styles/global" as global;
@use "../../../../assets/styles/mixins" as mix;


.price-list-section {
  margin-bottom: 120px;
  .price-list-container {
    .price-section-title {
      @include mix.head-lora-38;
      margin-bottom: 40px;
    }

    .price-items {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 12px;
    }
  }
}
