@use "../../../../assets/styles/variables" as var;
@use "../../../../assets/styles/fonts" as fonts;
@use "../../../../assets/styles/mixins" as mix;
@use "../../../../assets/styles/global" as global;


.paginator-block{
  display: flex;
  align-items: center;
  justify-content: center;
  .paginator-arr{
    &.left_inactive_arrow {
      transform: translateY(2px);
      margin-right: 30px;
    }
    &.left_active_arrow {
      transform: rotate(180deg) translateY(2px);
      margin-right: 30px;
    }
    &.right_active_arrow {
      transform: translateY(2px);
    }
    &.right_inactive_arrow {
      transform: rotate(180deg) translateY(2px);
    }

   }
  .page-item {
    gap: 10px;
    width: 46px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: var.$menu-item-color;
    &.is-active {
      color: var.$default-shadow-color;
    }

  }
}
