<section class="login" [formGroup]="loginForm">
  <div class="container">
    <div class="auth-form">
      <div class="auth-form-items">
        <div class="auth-item-title">Войти в личный кабинет</div>
        <div class="auth-input">
          <input type="text" class="input" placeholder="Электронная почта"
                 [ngStyle]="{'border-color': loginForm.get('email')?.invalid
                  && (loginForm.get('email')?.dirty  || loginForm.get('email')?.touched )
                  ? 'red' : ''
                  }"
                 formControlName="email">
          @if (loginForm.get('email')?.invalid  && (loginForm.get('email')?.dirty  || loginForm.get('email')?.touched )) {
            <div class="error-messages">Введите корректный email</div>
          }
        </div>
        <div class="auth-input">
          <input type="password" class="input" placeholder="Пароль"
                 [ngStyle]="{'border-color': loginForm.get('password')?.invalid
                  && (loginForm.get('password')?.dirty  || loginForm.get('password')?.touched )
                  ? 'red' : ''
                  }"
                 formControlName="password">
          @if (loginForm.get('password')?.invalid  && (loginForm.get('password')?.dirty  || loginForm.get('password')?.touched )) {
            <div class="error-messages">Введите пароль</div>
          }
        </div>
        <div class="auth-checkbox">
          <input type="checkbox" id="remember" formControlName="rememberMe">
          <label for="remember">Запомнить меня</label>
        </div>
        <div class="auth-button">
          <button class="button big-button" [disabled]="loginForm.invalid" (click)="login()">Войти</button>
        </div>
        <div class="auth-link">
          Нет аккаунта?<a routerLink="/signup">Пройдите регистрацию</a>
        </div>
      </div>
      <div class="auth-form-image">
        <img src="./images/pages/login.png" alt="login">
      </div>
    </div>
  </div>
</section>
