@use "../../../../assets/styles/variables" as var;
@use "../../../../assets/styles/fonts" as fonts;
@use "../../../../assets/styles/mixins" as mix;
@use "../../../../assets/styles/global" as global;

.action-list{
  margin-bottom: 120px;
  .action-container{
    position: relative;
    .left-step-svg {
      position: absolute;
      top: 50%;
      transform: translateX(12px);
    }
    .right-step-svg {
      position: absolute;
      top: 50%;
      right: 12px;
    }
    .pages-block {
      position: absolute;
      width: 70px;
      height: 12px;
      bottom: 25px;
      left: calc(50% - 35px);
      display: flex;
      justify-content: space-around;
      .page-pointer{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 1px solid white;
        &.active{
          background-color: white;
        }
      }

    }
  }
}
