@use "../../../../assets/styles/variables" as var;
@use "../../../../assets/styles/fonts" as fonts;
@use "../../../../assets/styles/mixins" as mix;
@use "../../../../assets/styles/global" as global;

.contacts-section {
  margin-bottom: 120px;

  .contacts-section-container {
    display: flex;
    justify-content: space-around;

    .contact-item-map {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;
      position: relative;
      width: 48%;
      aspect-ratio: 607 / 438;
      border-radius: 5px;
    }

    .contact-item {
      width: 48%;

      .contact-title {
        @include mix.head-lora-38;
        margin-bottom: 20px;
      }

      .contact-items-block {
        width: 500px;
        height: 306px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .contact-item {
          width: 100%;

          .contact-item-title {
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            font-size: 20px;
            color: var.$item-active-color;
            margin-bottom: 10px;
          }

          .contact-item-text {
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;
            color: var.$menu-item-color;
          }

          .contact-item-link {
            cursor: pointer;

            &:hover {
              color: blue;
            }
          }

          .contact-social-items {
            display: flex;
            width: 130px;
            height: 30px;
            justify-content: space-between;

            div {
              cursor: pointer;
              svg {
                &:hover path{
                  fill: blue;

                }
              }
            }
          }
        }
      }
    }
  }
}
