 @import "variables";
 @import "mixins";
 @import "fonts";

 body {
   font-family: "Montserrat", sans-serif;
   font-weight: 400;
   .container {
     padding-left: $default-padding-xx;
     padding-right: $default-padding-xx;
   }
 }


 .button {
   border-radius: 5px;
   padding: 10px 20px;
   cursor: pointer;
   border: none;
   color: white;
   font-size: 12px;
   font-family: 'Montserrat', sans-serif;
   font-weight: 500;
   background: $item-active-color;
   &.small-button {
     width: 153px;
     height: 36px;
   }
   &.big-button {
     width: 422px;
     height: 51px;
     font-size: 16px;
     color: white;
   }
   &:disabled {
     background: gray;
     cursor: not-allowed;
   }

 }

 .input {
   box-sizing: border-box;
   padding: 20px 60px 20px 20px;
   gap: 10px;
   width: 422px;
   height: 53px;
   border: 1.5px solid #709fdc;
   border-radius: 3px;
   font-family: 'Lora', sans-serif;
   font-size: 16px;
   cursor: pointer;
   color: #071739;
 }

 input[type="text"]::placeholder {
   display: block;
   color: #ababa7;
 }


  input[type="text"]:focus {
  outline: none !important;
  color: darkblue;
 }

 input[type="password"]:focus {
   outline: none !important;
 }

 .error-messages {
   color: #dc3545;
   font-size: 0.875rem;
   margin-top: 0.25rem;
 }

 .btn:disabled {
   opacity: 0.65;
   cursor: not-allowed;
 }

 .text-mark {
   color: $item-active-color;
 }

.otstup20 {
  height: 20px;
}
