$active-background-color: #b9d5fd;
$item-active-color: #709fdc;
$default-padding-xx: 100px;
$menu-item-color: #071739;
$default-text-color: #1e1a2b;
$default-shadow-color: #bdd5fd;
$font-gray-color: #bebebe;
