@use "../../../../assets/styles/variables" as var;
@use "../../../../assets/styles/mixins" as mix;

header {
  padding: 40px 0 40px 0;
  @include mix.default-font500;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;


  .header-container {
    width: var.$default-content-width;
    display: flex;
    justify-content: space-between;

    .container-item {
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        cursor: pointer;
        margin-right: var.$default-padding-xx;
      }

      .container-phone {
        color: var.$item-active-color;
        margin-right: 89px;
        cursor: pointer;
        &:hover {
          color: blue;
        }
      }
      .container-profile {
        z-index: 88;
        padding-right: var.$default-padding-xx;
        .container-profile-info {
          display: flex;
          justify-content: center;
          svg {
            margin-right: 7px;
            transform: translateY(-2px);
          }
        }
      }
    }
  }
}
