@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/fonts";
@import "../../../../assets/styles/mixins";
@import "../../../../assets/styles/global";


.article-block {
  width: 292px;
  height: 581px;
  .article-item {
    position: relative;
    z-index: 2;

    .article-item-category {
      position: absolute;
      border-radius: 5px;
      padding: 7px 18px;
      background: white;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 11px;
      top: 10px;
      right: 9px;
      color: $item-active-color;
    }

    .article-item-image {
      width: 291px;
      height: 291px;
      border-radius: 5px;
      margin-bottom: 10px;
      img {
        width: 290px;
        height: 290px;
        object-fit: cover;
      }
    }

    .article-info-block {
      height: 311px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .article-title {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        color: $item-active-color;
      }

      .article-text {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        color: $menu-item-color;
      }

      .article-acton {
        //margin-top: 40px;
        span {
          cursor: pointer;
          font-family: 'Montserrat', sans-serif;
          font-weight: 400;
          font-size: 16px;
          color: $item-active-color;
          text-decoration: underline;
        }
      }
    }
  }
}
